* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2 {
    padding: 10px;
    color: white;
    background-color: rgb(22, 235, 22);
  }
  
  .container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
  
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #eee;
  }
  
  table,
  tr,
  th,
  td {
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  th {
    background-color: #666;
    color: white;
  }
  
  th,
  td {
    padding: 5px;
  }
  
  th:first-child {
    width: 100px;
    text-align: left;
  }
  
  th:nth-child(2) {
    width: 250px;
    text-align: left;
  }
  
  th:nth-child(3),
  td:nth-child(3) {
    text-align: center;
    width: 70px;
  }
  
  th:nth-child(n + 4),
  td:nth-child(n + 4) {
    text-align: right;
    width: 100px;
  }
  
  td:last-child th:last-child {
    width: 75px;
  }
  
  td:last-child i {
    padding-right: 10px;
  }
  
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #eee;
  }
  
  tfoot td {
    text-align: right;
    background-color: #666;
    color: white;
    font-weight: 800;
  }
  
  .bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .button a {
    display: inline-block;
    padding: 10px;
    height: 40px;
    background-color: coral;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .button span {
    color: white;
  }